#root {
 width: 100%;
 height: 100%
}


.container{
  height: 100vh;
  width: 100vw;
  position: relative;
  display:flex;
}

.colorContainer{
position: absolute;
top: 80%;
border: 1px solid black;
border-radius: 30px;
margin: 0px auto;
align-self: center;
}

.eachColor{
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 5px 10px;
}
