#root {
  width: 100%;
  height: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.colorContainer {
  position: absolute;
  top: 80%;
  border: 1px solid black;
  border-radius: 30px;
}

.eachColor {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 5px 10px;
  cursor: pointer;
}

.color-red {
  background-color: red;
}
.color-green {
  background-color: green;
}
.color-blue {
  background-color: blue;
}
.color-olive {
  background-color: olive;
}
.color-gray {
  background-color: gray;
}
.color-yellow {
  background-color: yellow;
}
.color-pink {
  background-color: pink;
}
.color-purple {
  background-color: purple;
}
.color-lavender {
  background-color: lavender;
}
.color-white {
  background-color: white;
}
.color-black {
  background-color: black;
}
